.oas-form-inline fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

.oas-form-inline legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}
.oas-form-inline label{
    width: 50%;
    float:left;
}
.oas-form-inline input,  .oas-form-inline select{
    width:50% !important;
    float:left;

}
.oas-form-inline .form-group{
    overflow: hidden;
}

#tableform select{
    width:inherit !important;
    float:none;
}
#tableform {
    padding-bottom: 20px;
    float:left;
}
#srch input{
    width: 80% !important;
}
.oas-form-inline .box input{
    width:inherit !important;
    float:none;
}


/* View Modal Box*/
#view-mail .left-view-conatiner {
    height: 100%;

    min-height: 800px;
}
#view-mail .right-view-conatiner{
    border: 2px solid #2d2d2d;
    height: 100%;
    /*        min-height: 800px;*/
    padding: 5px;
    /*padding-top: 0px;*/
    background: #4a4a4a;
}
#view-mail .right-view-conatiner .top-section {
    /* border: thin solid darkgrey; */
    /* border: thin solid darkgrey; */
    /* border-top: 2px solid #fff4f4; */
    padding-top: 5px;
    height: auto;
    /* min-height: 35px; */
    background: #ffffff;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#view-mail .right-view-conatiner  .first-section{

    height: auto;
    /*        min-height: 400px;*/
    overflow-x: hidden;
    margin-bottom: 5px;
    background: #ffffff;
    padding: 10px;
}
#view-mail .right-view-conatiner.min-width{
    border: 2px solid #a4a4a5;
    height: 100%;
    /* min-height: 800px; */
    padding: 3px;
    padding-top: 3px;
    background: #ffffff;
    width: 53px;
    top: 50%;
    position: sticky;
}
#view-mail .right-view-conatiner.min-width .top-section{
    margin-bottom: 0px;
}
#view-mail .right-view-conatiner.min-width .top-section a{
    margin-bottom: 5px !important;
}
#view-mail .right-view-conatiner .second-section{
    /*        border:thin solid darkgrey;*/
    border-top: 2px solid #2d2d2d;
    padding-top: 20px;
    height: 50%;
    min-height: 200px;
    background: #ffffff;
    padding: 10px;
}
#view-mail .modal-dialog {
    width: auto; 
    margin: 0 auto; 
}
#view-mail .top-header{
    background: #242424d6;
    min-height: 50px;
    text-align:  center;
    margin-bottom: 10px;
}
#view-mail.modal {

    background: rgba(0,0,0,0.3);
    opacity: 0.95;
}
#view-mail .close {
    font-size: 45px;
    font-weight: 700;
    color:#ffffff;
    opacity: .8;
    font-weight: initial;
    font-family: -webkit-body;
}
#view-mail .close:focus, #view-mail .close:hover {
    color: #ffffff;

    opacity: 1;
}
#view-mail .top-header-text{
    color: white;
    padding: 14px;
    text-align: center;
    display: inline-flex;
}
#view-mail .top-header-text div{
    min-width: 200px;
}
#view-mail .second-section .box{
    border-top: none;
}
.left-file-list{
    position: absolute;
    top: 60px;
    left: 12%;
}
.left-file-list .hide-show{
    margin-left: -20px;
    color: #ffffff;
    margin-top: -6px;
}
.left-file-list ul{
    list-style: none;
    padding: 0px;
}
.left-file-list ul li{
    padding: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.left-file-list ul li:last-child{

    border-bottom:  2px solid black;
}
.left-file-list a{
    display: table;
    color:#ffffff;

}
.left-file-list a>div{
    margin-left: 5px;

}
.left-file-list a i{
    display: table-cell;
    vertical-align: middle;

}
#pdf iframe{
    position: absolute;
}
strong.post{
    font-size: 14px;
}
.sidebar-form .input-group .form-control{
    width: 100% !important;
}
/*
custom-tabs-panel
*/
.custom-tabs-panel{
    margin-top: -55px;
}
.custom-tabs-panel.default-tabs-panel{
    margin-top: 0px;
}
.custom-tabs-panel .nav-tabs>li {

    min-width: 150px;
    text-align: center;
}
.custom-tabs-panel .nav-tabs>li.active>a {
    border-bottom: 2px solid #3c8dbc;  
    color: white;
    background: #e3e9ef;
}
.custom-tabs-panel .nav-tabs>li>a:focus, .custom-tabs-panel .nav-tabs>li>a:hover {
    border-bottom: 2px solid #3c8dbc;  

}
.custom-tabs-panel .tab-content .active{
    color: inherit;
}
#showtable.box-body{
    padding: 0px;
}
.tab-content .box{
    border-top: none;
}
#searchbtn.wide-search i{
    font-size: 27px;
}
a.advanced-serch{
    line-height: 2.2;
    cursor: pointer;
}
a.advanced-serch:hover{
    text-decoration: underline;
}
.adv-search.active form{
    /*   width: 300px;*/
    /*  height: 300px;*/
    /*  margin: 30px auto;*/
    height:245px;
    overflow: unset;
    animation: fade 10s;
    display: block;
    opacity: 1;
    padding-bottom: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;

}
.adv-search form{
    height: 0px;
    overflow: hidden;
    display: none;/*
    opacity: 0;*/
}
@keyframes fade {
    0% { 
        /*        opacity: 0;*/
        height:0px;
    }

    100% {
        /*        opacity: 1;*/
        height:245px;
    }
}
/*.customized-model-center .modal-dialog-centered{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));

    margin: 0px auto;
}*/
/*.customized-model-center .modal-dialog-centered .modal-content{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}*/
/*.customized-model-center .modal-footer.text-center{
    text-align:center;
}*/
.width-300{
    max-width: 300px;
}

/*
mail box
*/
#file-list li{
    width: 100%;
}
#file-list li .mailbox-attachment-icon{
    font-size: 24px;
    padding:0px 0px 0px 10px;
    float: left;
}
#file-list li .mailbox-attachment-info{
    padding: 10px;    
    float: left;
    background: #ffffff;
}